/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-y: scroll; */
    overflow-y: inherit;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
  }

  body {
    font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #1c1f2b;
color: #fff;
}

/* Header */
.header {
display: flex;
justify-content: flex-start;
align-items: center;
padding: 20px;
background-color: #13161f;
}

.header a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Navigation */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #13161f;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.navigation a:hover {
    background-color: #fff;
    color: #333;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}
 
.navigation select {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #d6e9f7;
    color: #333;
    cursor: pointer;
    width: 50%;
}



/* Tiles */
.tile {
    background-color: transparent;
    color: #adeae1;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #999;
  }

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    
  }
  
  select {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
/* Plotly chart */
#Aplot {
    height: 50vh;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #999;
    overflow: hidden;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

