<!DOCTYPE html>
<html>
<head>
	<title>Modern Weather Website</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}" >
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
	<!-- Header -->
	<div class="header">
		<a href="#">Modern Weather Website</a>
	</div>
	<!-- Navigation bar -->
	<div class="navigation">
	<select id="loc">
		<option value="Adilabad">Adilabad, Telnagana </option>
		<option value="Nizamabad">Nizamabad, Telnagana</option>
		<option value="Khammam">Khammam, Telnagana</option>
		<option value="Karimnagar">Karimnagar, Telnagana</option>
		<option value="Warangal">Warangal, Telnagana</option>
	</select>
	<a href="">Home</a>
	<a href="/aqi">AQI</a>
	<a href="/weather">Weather</a>
	</div>

	<div class=repo><!-- Map with AQI values -->

	
	<h1>Team - TheScripter's </h1> 
	<h2>Problem Statement</h2>
	<p>To develop solutions that can predict the occurrence of heat waves and the Air Quality Index (AQI) for Tier-2 cities of Telangana. 
	The goal is to come up with innovative and effective ways to mitigate the impact of heat waves and poor air quality on the health 
	and well-being of the residents in these cities. The solutions should be based on data-driven models and take into account various 
	factors such as temperature, humidity, wind speed, and pollution levels.
	</p>
	<h2>Our solution</h2>
	<p>In our project, data for Telangana's Tier 2 cities is fetched and stored in a CSV file. Using this data, we will then undertake data analysis and preprocessing in order to gain insightful information.</p>

	<p>Using MAPE to assess the model's correctness, we were able to obtain a score that was reasonably low, indicating that the AQI prediction was accurate </p>
		
	<p>Using maximum temperature data, we also forecasted heat waves. Overall, our approach offers a trustworthy way to anticipate AQI and heat waves in Telangana's Tier 2 cities.</p>
		
	<p>Our solution also involves retraining our model every seven days to improve the accuracy of our predictions. To achieve this, we collect current data to update the historical data used to train the model. By doing so, our model can make more accurate predictions based on the most recent data available</p>
	<h2>Our Model</h2>
	<p>Our project involves the use of SARIMAX model, a powerful time series forecasting model that can take into account both the time component and exogenous variables such as weather data. SARIMAX model allows us to accurately predict the AQI and identify periods of heat waves using historical data and current weather data obtained from APIs.</p>
	<p>We evaluated the model's accuracy using Mean Absolute Percentage Error (MAPE). Our project also involved predicting heat waves using the temperature data obtained from Open Weather API.</p>
	<p></p>
	<h2>Model Workflow</h2>
	<img src="static/img/modelworkflow.jpeg" width="700" height="550">
	
	<h2>Project Features</h2>
	<p>Real-time AQI and Pollutants such as PM2.5, PM10, SO2, NO2</p>
	<p>Real-time Weather with Temperature, Humidity and Wind Speed</p>
	<p>AQI and weather models are retrained every seven days, ensuring that the predictions remain accurate and relevant.</p>
	<p>The project also includes an interactive graph that displays the Predicted AQI data and weather Data for the selected city</p>
	<h2>Link For Project</h2>
	<a class="logo "href="https://github.com/iamneo-production/5e43a363-c20b-41af-8510-d632bdd2aa81">
		<img src="https://github.com/fluidicon.png" alt="GitHub" width="50" height="50">
	</a>
	</div>
	<!-- Footer -->
	<footer>
	<p>&copy; 2023 Modern Weather Website. All rights reserved.</p>
	</footer>
</body>
</html>
